ESM
shaderpacks
crash-reports
data
datapacks
downloads
local
logs
moddata
patchouli_books
saves
schematics
screenshots
.curseclient
command_history.txt
minecraftinstance.json
observable_announce
options.txt
patchouli_data.json
servers.dat
TrashSlotSaveState.json
usercache.json
usernamecache.json
resourcepacks
blueprints